/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilo tipografia */
main p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

body {
  background: linear-gradient(to bottom right, #ffbfbf, #a00000); }

main .dias, main .celda {
  background-color: #dddddd;
  padding: 20px; }

/* estilos header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 15px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }
  header nav ul li {
    transition: 0.5s;
    color: black; }
    header nav ul li :hover {
      transform: scale(1.2);
      text-shadow: 1px 1px 20px black;
      transition: 0.5s; }

/* estilos home */
.escuela {
  display: flex;
  width: 100%;
  height: auto; }
  .escuela img {
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s; }
    .escuela img :hover {
      transform: scale(1.1); }
  .escuela p {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px; }

.sol {
  display: flex;
  width: 100%;
  height: auto; }
  .sol img {
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s; }
    .sol img :hover {
      transform: scale(1.1); }
  .sol p {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px; }

.difundiendo {
  display: flex;
  width: 100%;
  height: auto; }
  .difundiendo img {
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s; }
    .difundiendo img :hover {
      transform: scale(1.1); }
  .difundiendo p {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px; }

/* estilo biografia */
.biografia {
  width: 80vw;
  max-width: 1000px;
  max-width: 320px;
  margin: auto; }
  .biografia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
    margin-top: 30px; }

.parrafobiografia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  margin-top: 30px; }

/* estilos clases */
.clases {
  display: flex; }

.tango-uno, .tango-tecnica {
  margin: 0 10px; }

.tango-uno span, .tango-tecnica span {
  color: #a00000; }

main .grilla-horarios {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  width: 100%; }

main .dias-lunes, .dias-domingo {
  display: none; }

/* estilos galeria */
.imagenes {
  width: 80vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto; }
  .imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
    margin-top: 30px; }

/* estilos contacto */
.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
  margin: 10px;
  border-radius: 15px; }

/* estilos footer */
footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px; }
  footer ul {
    list-style-type: none;
    display: flex;
    margin: 20px;
    padding: 20px; }

.redes {
  min-width: 300px;
  display: flex;
  justify-content: space-between; }
  .redes a {
    text-decoration: none;
    font-size: 25px;
    width: 80px;
    height: 90px;
    line-height: 40px;
    text-align: center;
    color: black;
    padding: 20px; }

.derechos {
  display: none; }

/* estilos para desktop */
/* mq de desktop */
@media screen and (min-width: 1024px) {
  /* estilo header*/
  header nav ul li {
    transition: 0.5s;
    color: black; }
    header nav ul li :hover {
      transform: scale(1.1);
      text-shadow: 1px 1px 20px black;
      transition: 0.5s; }
  .derechos {
    display: block; }
  /* Home */
  .home {
    display: flex;
    text-align: center;
    transition: 0.5s; }
  .escuela {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    .escuela img {
      width: 25vw;
      margin: 20px;
      border-radius: 20px; }
      .escuela img :hover {
        transform: scale(1.1); }
  .escuela p {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px; }
  .sol {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    .sol img {
      width: 25vw;
      margin: 20px;
      border-radius: 20px; }
      .sol img :hover {
        transform: scale(1.1); }
  .sol p {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px; }
  .difundiendo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    .difundiendo img {
      width: 25vw;
      margin: 20px;
      border-radius: 20px; }
      .difundiendo img :hover {
        transform: scale(1.1); }
  .difundiendo p {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px; }
  /* biografia */
  .biografia {
    width: 80vw;
    max-width: 1000px;
    max-width: 320px;
    margin: auto; }
    .biografia img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
      margin-top: 30px; }
  .parrafobiografia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
    margin-top: 30px; }
  /* Clases */
  main .grilla-horarios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; }
  main .dias {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd; }
  .celda {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    padding: 20px; }
  main .dias-lunes, .dias-domingo {
    display: flex;
    align-items: center;
    display: block;
    justify-content: center;
    background-color: #dddddd;
    padding: 20px; }
  /* Galeria */
  .imagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 80vw;
    height: 90vh;
    max-width: 1000px;
    min-width: 320px;
    margin-bottom: 35px;
    row-gap: 2rem;
    column-gap: 2rem; }
    .imagenes img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
      margin-top: 10px; }
  /* Contacto */
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
    margin: 10px;
    border-radius: 15px; } }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.wrapper {
  flex: 1; }
