// paleta color general 

$color-secundario: black;
$color-letra: #a00000;
$color-celda:#dddddd;

// medidas home

$medida-ancho: 40vw;
$medida-margin: 10px;
$medida-borde: 20px;
$medida-alto: 100%;
$medida-padding: 10px;



